 {% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'blog/img/1202149.jpg' %}); background-position: top;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="position:relative;">
            <h1 >Come with me</h1>
            <span class="subheading"> If you want to live!</span>
          </div>
        </div>
      </div>
    </div>
  </header>